name: Build & maybe upload PyPI package

on:
  pull_request:
    branches:
      - main

  release:
    types:
      - published

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build & verify package
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Setup Hatch
        run: pipx install hatch

      - name: Test
        run: hatch run pytest --color=yes

      - name: mypy
        run: hatch run mypy structlog_gcp

      - name: ruff
        run: hatch run ruff check structlog_gcp

      - name: black
        run: hatch run black --check --diff structlog_gcp

      - name: isort
        run: hatch run isort --check --diff structlog_gcp

      - name: Build
        run: hatch build --clean

      - name: Upload package
        uses: actions/upload-artifact@v3
        with:
          name: Packages
          path: dist/*

  # Upload to Test PyPI on every commit on main.
  release-test-pypi:
    name: Publish in-dev package to test.pypi.org
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download package
        uses: actions/download-artifact@v3
        with:
          name: Packages
          path: dist

      - name: Upload to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/

  # Upload to real PyPI on GitHub Releases.
  release-pypi:
    name: Publish released package to pypi.org
    if: github.event.action == 'published'
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download package
        uses: actions/download-artifact@v3
        with:
          name: Packages
          path: dist

      - name: Upload package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
