name: Test & release

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

  release:
    types:
      - published

  workflow_dispatch:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install Python
        run: uv python install ${{ matrix.python-version }}

      - name: Test
        run: make test

      - name: mypy
        run: make mypy

      - name: lint
        run: uv run ruff check

      - name: format
        run: uv run ruff format --diff

      # Just test the build works, we'll upload the one in the next job
      # instead, if needed.
      - name: Build
        run: make build

  build:
    name: Build package
    needs: check
    if: github.event.action == 'published'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Configure version
        if: github.event.action == 'published'
        run: ./.github/set-version

      - name: Build
        run: make build

      - name: Upload package
        uses: actions/upload-artifact@v4
        with:
          name: Packages
          path: dist/*

  publish:
    name: Publish package
    needs: build
    runs-on: ubuntu-latest
    environment: pypi-release

    permissions:
      id-token: write

    steps:
      - name: Download package
        uses: actions/download-artifact@v4
        with:
          name: Packages
          path: dist

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
